# Python Cache
__pycache__/
*.pyc

# Test Videos and Heavy Media
*.mp4
*.avi

# Logs (Prevents local test runs from constantly needing to be committed)
logs/*.csv
screenshots/

# PyInstaller Folders
build/
dist/
*.spec